{% extends 'base.html' %}


{% block content %}


<h1> Create a Product!</h1>
<form method='POST'>
    {{form.csrf_token}}
    <div class="form-group">
        <fieldset>
            {{ form.product_name.label }}
            {{ form.product_name(class="form-control", placeholder='Product Name')}}
        </fieldset>
        <fieldset>
            {{ form.price.label }}
            {{ form.price(class="form-control", placeholder='Price')}}
        </fieldset>
        <fieldset>
            {{ form.image.label }}
            {{ form.image(class="form-control", placeholder='Image URL')}}
        </fieldset>
        {{form.submit(class="btn btn-primary")}}
    </div>
    {{ from.submit(class='btn btn-primary') }}

</form>


{% endblock content %}